.App {
  text-align: center;
}

.App-header {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  padding: 10px;
}

.App-Bar {
  background-color: white;
  width: 100vw;
  height: 5vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
}

.Main-Text {
  color: #5EC87C;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0%;
  margin-top: 1%;
}

